.s-social {

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    display: block;
    color: currentColor;
  }
}