.s-main-nav {
  border-bottom: 1px solid lighten($bg-color--darker, 10%);

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 0;
      padding: 0;
      flex: 1 0 auto;

      &:not(:last-child) {
        // border-right: 1px solid #63636a;
        border-right: 1px solid lighten($bg-color--darker, 10%);
      }

      a {
        color: currentColor;
        display: block;
        text-transform: uppercase;
        padding: 1.5rem 0;
        text-align: center;
        transition: all 0.3s cubic-bezier(0.4,0,0,1);

        @media (max-width: ($screen-lg - 1)) {
          font-size: 0.825rem;
        }

        @supports (font-variation-settings: 'wght' 400) {
          font-family: $font-family--variable;
          font-variation-settings: 'wght' 400;
          font-weight: normal;
        }

        &:hover,
        &:focus {
          background-color: lighten($bg-color--darker, 5%);
          text-decoration: none;
        }
      }
    }
  }
}
