.s-parts {
  padding: 3rem 0;

  @media (max-width: ($screen-sm - 1)) {
    padding: 1rem 0;
    border-top: 1px solid rgba(#000, 0.1);
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: currentColor;
    margin-bottom: 2rem;
    position: relative;

    @media (min-width: $screen-sm) {
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 3rem;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: $color-accent;
      height: 2px;
      border-radius: 2px;
      width: 3rem;
      top: 125%;
      left: 0;
    }
  }
}