.s-promo {
  background-color: $bg-color--darker;
  color: $text-color--lightest;

  &__slide {
    position: relative;
  }

  &__slide-info {
    position: relative;
    z-index: 2;
    padding: 10rem 0;

    @media (min-width: $screen-sm) {
      padding: 15rem 0;
    }
  }

  &__title {
    color: currentColor;
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin: 0;

    @media (min-width: $screen-sm) {
      font-size: 4rem;
      line-height: 4.25rem;
    }
  }

  &__slide-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(#26262a, 0.4);
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .swiper-pagination {
    position: absolute;
    z-index: 3;
  }

  .swiper-pagination-bullet {
    cursor: pointer;
    background-color: #fff;
  }
}