.s-direction {
  color: $text-color--lightest;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color--lightest;

    .s-direction__cover {

      img {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 2;
    margin: 0;
    color: currentColor;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: bold;

    @supports (font-variation-settings: 'wght' 600) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 600;
      font-weight: normal;
    }

    @media (min-width: $screen-md) {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#26262a, 0.4);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
      transition: transform 0.3s cubic-bezier(0.4,0,0,1);
    }
  }

  &__caption {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-top: 1px solid rgba(#fff, 0.25);

    span {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 0.75rem;
    }
  }
}