mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__container
        a.s-page-header__phone(href='tel:+78122440384') +7 (812) 244-03-84
        a.s-page-header__phone(href='tel:+78129063028') +7 (812) 906-30-28
        a.s-page-header__mail(href='mailto:sales@pnevmatikcity.ru') sales@pnevmatikcity.ru
    .s-page-header__bottom
      .s-page-header__container
        .s-page-header__logos
          +logo('/')
            img(src='img/logo-husqvarna.svg', alt='Husqvarna Logo', width='137', height='25')
          +logo('/')
            img(src='img/logo-pnervmatikcity.svg', alt='Pnevmatikcity Logo', width='198', height='25')
        .s-page-header__nav
          ul.s-page-header__nav-list
            li: a(href='/') Продукция
            li: a(href='/') Преимущества
            li: a(href='/') О нас
            li: a(href='/') Гарантия и сервис
            li: a(href='/') Контакты

      .s-page-header__contact
        +btn('Отправить заявку')

      +hamburger('Show main navigation', 'mobile-menu', 's-mobile-menu--is-shown')
