.s-banners {
  margin-bottom: 1rem;

  @media (max-width: ($screen-sm - 1)) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &__slider {

    .swiper-pagination-bullet-active {
      background-color: #333;
    }
  }

  &__slide {
    display: block;

    img {
      display: block;
      vertical-align: top;
      width: 100%;
      height: auto;
    }
  }
}