mixin mobile-menu()

  .s-mobile-menu

    .s-mobile-menu__header
      +logo('/')
        img(src='img/pnevmatik.svg', alt='Pnevmatikcity Logo', width='200', height='46')
      .s-mobile-menu__close
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 8 16', width='8', height='16')
          path(fill-rule='nonzero', d='M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z')

    ul.s-mobile-menu__list
      li: a(href='/') Продукция
      li: a(href='/') Преимущества
      li: a(href='/') О нас
      li: a(href='/') Гарантия и сервис
      li: a(href='/') Контакты

    .s-mobile-menu__contact
      +btn('', 'feedback')
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 66', width='25', height='21')
          path(d='M0 0v66h100V0H0zm92.721 4L50 40.373 7.28 4h85.441zM4 6.46l30.044 25.575L4 60.312V6.46zM8.043 62l29.066-27.355L50 45.617l12.891-10.973L91.957 62H8.043zM96 60.312L65.956 32.035 96 6.46v53.852z')
        | Отправить заявку
      ul.s-mobile-menu__list
        li: a(href='tel:+78122440384') +7 (812) 244-03-84
        li: a(href='tel:+78129063028') +7 (812) 906-30-28
        li: a(href='mailto:sales@pnevmatikcity.ru') sales@pnevmatikcity.ru