//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/slick-carousel/slick-carousel.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/about-us/about-us.pug
include ../blocks/services/services.pug
include ../blocks/direction/direction.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/search/search.pug
include ../blocks/layout/layout.pug
include ../blocks/banners/banners.pug
include ../blocks/catalog-nav/catalog-nav.pug
include ../blocks/series/series.pug
include ../blocks/product-card/product-card.pug
include ../blocks/product/product.pug
include ../blocks/main-tabs/main-tabs.pug
include ../blocks/parts/parts.pug
include ../blocks/parts-card/parts-card.pug
