.s-series {
  display: block;
  color: currentColor;
  margin-bottom: 2rem;

  &:hover {
    color: currentColor;
    text-decoration: none;

    .s-series__cover {

      img {
        transform: scale(1.05);
      }
    }
  }

  &__cover {
    // height: 100%;
    // height: 300px;
    overflow: hidden;

    img {
      display: block;
      transition: all 0.3s cubic-bezier(0.4,0,0,1);
      // object-fit: cover;
      // width: 100%;
      // height: 100%;
    }
  }

  &__desc {
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
    transition: all 0.3s cubic-bezier(0.4,0,0,1);

    @supports (font-variation-settings: 'wght' 500) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 500;
      font-weight: normal;
    }
  }
}