.s-search {

  input {
    min-width: 290px;
    margin: 0;
    padding: 0 1rem 0 3rem;
    background-color: rgba(#000, 0.1);
    font-family: inherit;
    border: 0;
    background: none;
    height: 100%;
    width: 220px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23acb2c1; fill-rule: evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath id='search_light_' data-name='search %5Blight%5D' class='cls-1' d='M15.85 15.85a.5.5 0 0 1-.7 0l-5.02-5.07a.5.5 0 0 1 0-.71.5.5 0 0 1 .7 0l5.02 5.07a.5.5 0 0 1 0 .71zM6.23 0A6.25 6.25 0 1 1 0 6.25 6.242 6.242 0 0 1 6.23 0zm0 .99A5.26 5.26 0 1 1 .99 6.25 5.256 5.256 0 0 1 6.23.99z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 1rem 50%;
  }
}