.s-product-card {
  display: block;
  color: currentColor;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(#000, 0.1);
  transition: all 0.5s cubic-bezier(0.4,0,0,1);

  &:hover,
  &:focus {
    text-decoration: none;
    color: currentColor;
    box-shadow: 0 15px 45px rgba(#000, 0.2);
  }

  &__cover {

    img {
      display: block;
    }
  }

  &__info {
    padding: 1rem;
  }

  &__name {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  &__desc-list {
    font-size: 0.875rem;
    line-height: 1.5rem;
    border-top: 1px solid rgba(#000, 0.1);
    padding-top: 1rem;
    margin-top: 1rem;
  }

  &__desc-term,
  &__desc-desc {
    display: inline;
    font-variant-numeric: lining-nums;
  }

  &__desc-desc +
  &__desc-term::before {
    content: '\A';
    white-space: pre;
  }

  &__desc-desc +
  &__desc-desc::before {
    content: ', ';
    font-weight: normal;
    margin-left: -.25em;
  }

  &__desc-term {
    margin: 0;
    font-weight: 400;

    &::after {
      content: ':';
    }
  }

  &__desc-desc {
    margin: 0;
    font-weight: 400;
  }
}