mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .container
      .row
        .col-12.col-lg-5
          .s-page-footer__logo
            +logo('/')
              img(src='img/pnevmatik-light.svg', alt='Pnevmatikcity Logo', width='300', height='92')
            +logo('/')
              img(src='img/epiroc.svg', alt='Epiroc Logo', width='150', height='51')

        .col-12.col-lg-7
          .row
            .col-12.col-md-6
              .s-page-footer__nav
                h3.s-page-footer__title Каталог
                ul.s-page-footer__list
                  li: a(href='/') Гидравлические молоты
                  li: a(href='/') Ножницы по железобетону
                  li: a(href='/') Крашеры бетона
                  li: a(href='/') Дробильные ковши
                  li: a(href='/') Барабанные фрезы
                  li: a(href='/') Магниты для экскаваторов
                  li: a(href='/') Грейферы для экскаватора
                  li: a(href='/') Компакторы гидравлические
                  li: a(href='/') Буры навесные
                  li: a(href='/') Измельчители гидравлические
                  li: a(href='/') Ножницы по металлу

            .col-12.col-md-6
              .s-page-footer__contacts
                h3.s-page-footer__title Контакты
                ul.s-page-footer__list
                  li: a(href='tel:+78122440384') +7 (812) 244-03-84
                  li: a(href='tel:+78129063028') +7 (812) 906-30-28
                  li: a(href='mailto:sales@pnevmatikcity.ru') sales@pnevmatikcity.ru
                  li
                    address
                      b Офис:
                      |  Санкт-Петербург, проспект 9 января д.3, литер А, корпус 6, офис 7
                      br
                      b Сервисный центр и склад:
                      |  Санкт-Петербург, проспект 9 января д.3, корпус 4

        .col-12
          .s-page-footer__copyright © 2019. Pnevmatikcity.