// Width

$screen-xs:                   375px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$text-color:                  $gray-darker;
$text-color--lighter:         $gray-lighter;
$text-color--lightest:        $white;

$heading-color:               $gray-darker;
$caption-color:               $gray-light;

$bg-color--default:           $white;
$bg-color--lighter:           #f2f2f2;
// $bg-color--darker:            #686872;
$bg-color--darker:            #35353a;

$color-primary:               #1abc9c;
$color-accent:                #fecc00;

// $nav-link-color:              ;
// $nav-link-color-hover:        ;

// $hamburger-color:             ;

// $button-main-color:           ;
// $button-main-bg-color:        ;
// $button-main-bg-hover:        ;

// $button-ghost-color:          ;
// $button-ghost-bg-color:       transparent;
// $button-ghost-border-color:   ;

$border-color:                currentColor;
$border-radius:               2px;

$opacity:                     0.5;
$box-shadow:                  0 10px 30px rgba($text-color, 0.25);
