.s-parts-card {
  background-color: $bg-color--default;
  color: currentColor;
  border: 1px solid rgba(#000, 0.1);
  display: block;

  &__cover {
    width: 100%;
    height: 240px;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__desc {
    padding: 1rem;
    border-top: 1px solid rgba(#000, 0.1);
  }
}