.s-catalog-nav {
  margin-bottom: 1rem;
  color: $text-color;

  @media (max-width: ($screen-sm - 1)) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &--level-2 {

      .s-catalog-nav__item {
        margin: 0;
      }

      .s-catalog-nav__link {
        font-size: 0.875rem;
        font-weight: 400;
        padding: 0.5rem 1rem;
        color: rgba($text-color, 0.5);

        @supports (font-variation-settings: 'wght' 400) {
          font-family: $font-family--variable;
          font-variation-settings: 'wght' 400;
          font-weight: normal;
        }

        &:hover,
        &:focus {
          background-color: darken($bg-color--lighter, 5%);
        }
      }
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-bottom: 0.125rem;
  }

  &__link {
    display: block;
    vertical-align: middle;
    color: currentColor;
    background-color: $bg-color--lighter;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1rem;
    position: relative;
    transition: all 0.3s cubic-bezier(0.4,0,0,1);

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    @supports (font-variation-settings: 'wght' 500) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 500;
      font-weight: normal;
    }
  }
}