mixin catalog-nav()

  .s-catalog-nav
    ul.s-catalog-nav__list
      li.s-catalog-nav__item
        a.s-catalog-nav__link(
          href="#catalog-list",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="catalog-list"
        ) Каталог
        #catalog-list.collapse.multi-collapse
          ul.s-catalog-nav__list.s-catalog-nav__list--level-2
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Гидравлические молоты
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Ножницы по железобетону
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Крашеры бетона
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Дробильные ковши
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Барабанные фрезы
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Магниты для экскаваторов
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Грейферы для экскаватора
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Компакторы гидравлические
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Буры навесные
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Измельчители гидравлические
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Ножницы по металлу

      li.s-catalog-nav__item
        a.s-catalog-nav__link(
          href="#parts-list",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="parts-list"
        ) Запасные части
        #parts-list.collapse.multi-collapse
          ul.s-catalog-nav__list.s-catalog-nav__list--level-2
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Для компрессоров
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Для генераторов
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Для гидромолотов
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Для ножниц
      li.s-catalog-nav__item
        a.s-catalog-nav__link(
          href="#services-list",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="services-list"
        ) Сервис и услуги
        #services-list.collapse.multi-collapse
          ul.s-catalog-nav__list.s-catalog-nav__list--level-2
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Сервис навесного оборудования
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Сервис передвижных компрессоров
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Сервис генераторов

      li.s-catalog-nav__item
        a.s-catalog-nav__link(href='/') Контакты