.s-product {

  &__slider {

    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }

  &__slide-cover {
    width: 100%;
    position: relative;
    height: 300px;

    @media (min-width: 425px) {
      height: 390px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__info {

    @media (max-width: ($screen-sm - 1)) {
      padding-top: 0.5rem;
    }
  }

  &__desc-list {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__desc-term,
  &__desc-desc {
    display: inline;
    font-variant-numeric: lining-nums;
  }

  &__desc-desc +
  &__desc-term::before {
    content: '\A';
    white-space: pre;
  }

  &__desc-desc +
  &__desc-desc::before {
    content: ', ';
    font-weight: normal;
    margin-left: -.25em;
  }

  &__desc-term {
    margin: 0;
    font-weight: 400;

    @supports (font-variation-settings: 'wght' 500) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 500;
      font-weight: normal;
    }

    &::after {
      content: ':';
    }
  }

  &__desc-desc {
    margin: 0;
    font-weight: 400;
    opacity: 0.75;
  }

  &__actions {
    padding-top: 1rem;

    .s-btn {

      @media (max-width: ($screen-sm - 1)) {
        width: 100%;
      }
    }
  }
}